<div class="pagetitle">
    <h1>Approval</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Approval</li>
            <li class="breadcrumb-item">Rekapitulasi Peminatan</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isVisible">
                <i class="bi bi-check-circle me-1"></i>
                Pengajuan Disetujui
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">

                    <form (ngSubmit)="submitFormGenerateRekapitulasiPeminatan()"
                        *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary m-1">Generate Rekapitulasi
                                Peminatan</button>
                        </div>
                    </form>

                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" id="search" placeholder="Search" aria-label="Search">
                    </form>

                    <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100 active" id="proter-tab" data-bs-toggle="tab"
                                data-bs-target="#proter-justified" type="button" role="tab" aria-controls="proter"
                                aria-selected="true">proter</button>
                        </li>
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100" id="nmt-tab" data-bs-toggle="tab"
                                data-bs-target="#nmt-justified" type="button" role="tab" aria-controls="nmt"
                                aria-selected="false">nmt</button>
                        </li>
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100" id="sosek-tab" data-bs-toggle="tab"
                                data-bs-target="#sosek-justified" type="button" role="tab" aria-controls="sosek"
                                aria-selected="false">sosek</button>
                        </li>
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100" id="tht-tab" data-bs-toggle="tab"
                                data-bs-target="#tht-justified" type="button" role="tab" aria-controls="tht"
                                aria-selected="false">tht</button>
                        </li>
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100" id="rpt-tab" data-bs-toggle="tab"
                                data-bs-target="#rpt-justified" type="button" role="tab" aria-controls="rpt"
                                aria-selected="false">rpt</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2" id="myTabjustifiedContent">
                        <div class="tab-pane fade show active" id="proter-justified" role="tabpanel"
                            aria-labelledby="proter-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Surat Rekomendasi</th>
                                        <th>Status Pengajuan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPeminatanProter | filter: searchText; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>
                                            <button (click)="approvePengajuanPeminatan(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nmt-justified" role="tabpanel" aria-labelledby="nmt-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Surat Rekomendasi</th>
                                        <th>Status Pengajuan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPeminatanNMT | filter: searchText; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>
                                            <button (click)="approvePengajuanPeminatan(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="sosek-justified" role="tabpanel" aria-labelledby="sosek-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Surat Rekomendasi</th>
                                        <th>Status Pengajuan</th>
                                        <th></th> <!-- add button approve all -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPeminatanSosek | filter: searchText; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>
                                            <button (click)="approvePengajuanPeminatan(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tht-justified" role="tabpanel" aria-labelledby="tht-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Surat Rekomendasi</th>
                                        <th>Status Pengajuan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPeminatanTHT | filter: searchText; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>
                                            <button (click)="approvePengajuanPeminatan(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="rpt-justified" role="tabpanel" aria-labelledby="rpt-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Surat Rekomendasi</th>
                                        <th>Status Pengajuan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPeminatanRPT | filter: searchText; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>
                                            <button (click)="approvePengajuanPeminatan(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- End Default Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>