<div class="pagetitle">
    <h1>Master Lokasi Skripsi</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Lokasi Skripsi</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <!-- alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isVisible">
                <i class="bi bi-check-circle me-1"></i>
                {{ alertMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary pull-right" data-bs-toggle="modal"
                        data-bs-target="#basicModal">+ Tambah</button>
                    <div class="modal fade" id="basicModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form [formGroup]="formLokasiSkripsi" (ngSubmit)="submitFormLokasiSkripsi()">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Basic Modal</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <label for="id" class="col-sm-2 col-form-label" hidden>Id</label>
                                            <div class="col-sm-10">
                                                <input formControlName="id" id="id" type="text"
                                                    class="form-control" hidden>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="namaLokasi" class="col-sm-2 col-form-label">Nama Lokasi</label>
                                            <div class="col-sm-10">
                                                <input formControlName="namaLokasi" id="namaLokasi" type="text"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listLokasiSkripsi; let i = index">
                                <td>{{ item.namaLokasi }}</td>
                                <td>
                                    <button (click)="delete(item.id)" type="button" class="btn btn-danger m-1"><i
                                            class="bi bi-trash"></i></button>
                                    <button (click)="update(item.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-square"
                                            data-bs-toggle="modal" data-bs-target="#basicModal"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>