<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Pendaftaran Peminatan</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Peminatan</li>
                <li class="breadcrumb-item">Pendaftaran Peminatan</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="nama" class="form-label">Nama</label>
                                <input type="text" class="form-control" id="nama" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="nim" class="form-label">NIM</label>
                                <input type="text" class="form-control" id="nim" disabled>
                            </div>
                            <div class="col-12">
                                <label for="ipk" class="form-label">IPK</label>
                                <input type="text" class="form-control" id="ipk" required>
                            </div>
                            <div class="col-12">
                                <label for="pilihanMinat1" class="form-label">Pilihan Minat 1</label>
                                <select [(ngModel)]="optionValue" name="pilihanMinat1" class="form-select"
                                    id="pilihanMinat1" aria-label="State">
                                    <option disabled selected value>Select an option</option>
                                    <option value="proter">Produksi Ternak</option>
                                    <option value="nmt">Nutrisi dan Makanan Ternak</option>
                                    <option value="sosek">Sosial Ekonomi Peternakan</option>
                                    <option value="tht">Teknologi Hasil Ternak</option>
                                    <option value="rpt">Reproduksi dan Pemuliaan Ternak</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="pilihanMinat2" class="form-label">Pilihan Minat 2</label>
                                <select [(ngModel)]="optionValue2" name="pilihanMinat2" class="form-select"
                                    id="pilihanMinat2" aria-label="State" (selectionChange)="onSelectionChange($event)">
                                    <option disabled selected value>Select an option</option>
                                    <option value="proter" [disabled]="optionValue === 'proter'">Produksi Ternak
                                    </option>
                                    <option value="nmt" [disabled]="optionValue === 'nmt'">Nutrisi dan Makanan Ternak
                                    </option>
                                    <option value="sosek" [disabled]="optionValue === 'sosek'">Sosial Ekonomi Peternakan
                                    </option>
                                    <option value="tht" [disabled]="optionValue === 'tht'">Teknologi Hasil Ternak
                                    </option>
                                    <option value="rpt" [disabled]="optionValue === 'rpt'">Reproduksi dan Pemuliaan
                                        Ternak</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="pilihanMinat3" class="form-label">Pilihan Minat 3</label>
                                <select [(ngModel)]="optionValue3" name="pilihanMinat3" class="form-select"
                                    id="pilihanMinat3" aria-label="State" (selectionChange)="onSelectionChange($event)">
                                    <option disabled selected value>Select an option</option>
                                    <option value="proter"
                                        [disabled]="optionValue === 'proter' || optionValue2 === 'proter'">Produksi
                                        Ternak
                                    </option>
                                    <option value="nmt" [disabled]="optionValue === 'nmt' || optionValue2 === 'nmt'">
                                        Nutrisi dan Makanan Ternak
                                    </option>
                                    <option value="sosek"
                                        [disabled]="optionValue === 'sosek' || optionValue2 === 'sosek'">Sosial Ekonomi
                                        Peternakan
                                    </option>
                                    <option value="tht" [disabled]="optionValue === 'tht' || optionValue2 === 'sosek'">
                                        Teknologi Hasil Ternak
                                    </option>
                                    <option value="rpt" [disabled]="optionValue === 'rpt' || optionValue2 === 'rpt'">
                                        Reproduksi dan Pemuliaan
                                        Ternak</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="pilihanMinat4" class="form-label">Pilihan Minat 4</label>
                                <select [(ngModel)]="optionValue4" name="pilihanMinat4" class="form-select"
                                    id="pilihanMinat4" aria-label="State" (selectionChange)="onSelectionChange($event)">
                                    <option disabled selected value>Select an option</option>
                                    <option value="proter"
                                        [disabled]="optionValue === 'proter' || optionValue2 === 'proter' || optionValue3 === 'proter'">
                                        Produksi Ternak
                                    </option>
                                    <option value="nmt"
                                        [disabled]="optionValue === 'nmt' || optionValue2 === 'nmt' || optionValue3 === 'nmt'">
                                        Nutrisi dan Makanan Ternak
                                    </option>
                                    <option value="sosek"
                                        [disabled]="optionValue === 'sosek' || optionValue2 === 'sosek' || optionValue3 === 'sosek'">
                                        Sosial Ekonomi Peternakan
                                    </option>
                                    <option value="tht"
                                        [disabled]="optionValue === 'tht' || optionValue2 === 'tht' || optionValue3 === 'tht'">
                                        Teknologi Hasil Ternak
                                    </option>
                                    <option value="rpt"
                                        [disabled]="optionValue === 'rpt' || optionValue2 === 'rpt' || optionValue3 === 'rpt'">
                                        Reproduksi dan Pemuliaan
                                        Ternak</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="pilihanMinat5" class="form-label">Pilihan Minat 5</label>
                                <select [(ngModel)]="optionValue5" name="pilihanMinat5" class="form-select"
                                    id="pilihanMinat4" aria-label="State" (selectionChange)="onSelectionChange($event)">
                                    <option disabled selected value>Select an option</option>
                                    <option value="proter"
                                        [disabled]="optionValue === 'proter' || optionValue2 === 'proter' || optionValue3 === 'proter' || optionValue4 === 'proter'">
                                        Produksi Ternak
                                    </option>
                                    <option value="nmt"
                                        [disabled]="optionValue === 'nmt' || optionValue2 === 'nmt' || optionValue3 === 'nmt' || optionValue4 === 'nmt'">
                                        Nutrisi dan Makanan Ternak
                                    </option>
                                    <option value="sosek"
                                        [disabled]="optionValue === 'sosek' || optionValue2 === 'sosek' || optionValue3 === 'sosek' || optionValue4 === 'sosek'">
                                        Sosial Ekonomi Peternakan
                                    </option>
                                    <option value="tht"
                                        [disabled]="optionValue === 'tht' || optionValue2 === 'tht' || optionValue3 === 'tht' || optionValue4 === 'tht'">
                                        Teknologi Hasil Ternak
                                    </option>
                                    <option value="rpt"
                                        [disabled]="optionValue === 'rpt' || optionValue2 === 'rpt' || optionValue3 === 'rpt' || optionValue4 === 'rpt'">
                                        Reproduksi dan Pemuliaan
                                        Ternak</option>
                                </select>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <div class="divider"></div>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form><!-- End No Labels Form -->

                    </div>
                </div>

                <ng-container *ngIf="optionValue == 'proter' || optionValue2 == 'proter' || optionValue3 == 'proter' || optionValue4 == 'proter' || optionValue5 == 'proter'">
                    <div class="card">
                        <div class="card-body">
                            <h5>Nilai Mata Kuliah Wajib Minat Produksi Ternak</h5>

                            <form>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="namaMataKuliah" class="form-label">Nama Mata Kuliah</label>
                                        <select class="form-select" id="namaMataKuliah" aria-label="State">
                                            <option disabled selected value>Select an option</option>
                                            <option value="kesnak">Kesejahteraan Ternak</option>
                                            <option value="imtp">Ilmu dan Manajemen Ternak Pedaging</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Nilai</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios1" value="option1" checked>
                                                <label class="form-check-label" for="gridRadios1">A</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">B+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios3" value="option2">
                                                <label class="form-check-label" for="gridRadios3">B</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios4" value="option2">
                                                <label class="form-check-label" for="gridRadios4">C+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios5" value="option2">
                                                <label class="form-check-label" for="gridRadios5">C</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios6" value="option2">
                                                <label class="form-check-label" for="gridRadios6">D+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios7" value="option2">
                                                <label class="form-check-label" for="gridRadios7">D</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios8" value="option2">
                                                <label class="form-check-label" for="gridRadios8">E</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <div class="divider"></div>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->

                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="optionValue == 'nmt' || optionValue2 == 'nmt' || optionValue3 == 'nmt' || optionValue4 == 'nmt' || optionValue5 == 'nmt'">
                    <div class="card">
                        <div class="card-body">
                            <h5>Nilai Mata Kuliah Wajib Minat Nutrisi dan Makanan Ternak</h5>

                            <form>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="namaMataKuliah" class="form-label">Nama Mata Kuliah</label>
                                        <select class="form-select" id="namaMataKuliah" aria-label="State">
                                            <option disabled selected value>Select an option</option>
                                            <option value="dntbmt">Dasar Nutrisi Ternak dan Bahan</option>
                                            <option value="itpt">Ilmu dan Teknologi Pakan Ternak</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Nilai</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios1" value="option1" checked>
                                                <label class="form-check-label" for="gridRadios1">A</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">B+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios3" value="option2">
                                                <label class="form-check-label" for="gridRadios3">B</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios4" value="option2">
                                                <label class="form-check-label" for="gridRadios4">C+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios5" value="option2">
                                                <label class="form-check-label" for="gridRadios5">C</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios6" value="option2">
                                                <label class="form-check-label" for="gridRadios6">D+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios7" value="option2">
                                                <label class="form-check-label" for="gridRadios7">D</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios8" value="option2">
                                                <label class="form-check-label" for="gridRadios8">E</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <div class="divider"></div>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->

                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="optionValue == 'sosek' || optionValue2 == 'sosek' || optionValue3 == 'sosek' || optionValue4 == 'sosek' || optionValue5 == 'sosek'">
                    <div class="card">
                        <div class="card-body">
                            <h5>Nilai Mata Kuliah Wajib Minat Sosial Ekonomi Peternakan</h5>

                            <form>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="namaMataKuliah" class="form-label">Nama Mata Kuliah</label>
                                        <select class="form-select" id="namaMataKuliah" aria-label="State">
                                            <option disabled selected value>Select an option</option>
                                            <option value="epp">Ekonomi Produksi Peternakan</option>
                                            <option value="kphtot">Kelembagaan dan Pemasaran Hasil Ternak dan Olahan
                                                Ternak</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Nilai</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios1" value="option1" checked>
                                                <label class="form-check-label" for="gridRadios1">A</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">B+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios3" value="option2">
                                                <label class="form-check-label" for="gridRadios3">B</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios4" value="option2">
                                                <label class="form-check-label" for="gridRadios4">C+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios5" value="option2">
                                                <label class="form-check-label" for="gridRadios5">C</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios6" value="option2">
                                                <label class="form-check-label" for="gridRadios6">D+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios7" value="option2">
                                                <label class="form-check-label" for="gridRadios7">D</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios8" value="option2">
                                                <label class="form-check-label" for="gridRadios8">E</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <div class="divider"></div>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->

                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="optionValue == 'tht' || optionValue2 == 'tht' || optionValue3 == 'tht' || optionValue4 == 'tht' || optionValue5 == 'tht'">
                    <div class="card">
                        <div class="card-body">
                            <h5>Nilai Mata Kuliah Wajib Minat Teknologi Hasil Ternak</h5>

                            <form>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="namaMataKuliah" class="form-label">Nama Mata Kuliah</label>
                                        <select class="form-select" id="namaMataKuliah" aria-label="State">
                                            <option disabled selected value>Select an option</option>
                                            <option value="epp">Dasar Teknologi Hasil Ternak</option>
                                            <option value="kphtot">Pengendalian Mutu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Nilai</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios1" value="option1" checked>
                                                <label class="form-check-label" for="gridRadios1">A</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">B+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios3" value="option2">
                                                <label class="form-check-label" for="gridRadios3">B</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios4" value="option2">
                                                <label class="form-check-label" for="gridRadios4">C+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios5" value="option2">
                                                <label class="form-check-label" for="gridRadios5">C</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios6" value="option2">
                                                <label class="form-check-label" for="gridRadios6">D+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios7" value="option2">
                                                <label class="form-check-label" for="gridRadios7">D</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios8" value="option2">
                                                <label class="form-check-label" for="gridRadios8">E</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <div class="divider"></div>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->

                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="optionValue == 'rpt' || optionValue2 == 'rpt' || optionValue3 == 'rpt' || optionValue4 == 'rpt' || optionValue5 == 'rpt'">
                    <div class="card">
                        <div class="card-body">
                            <h5>Nilai Mata Kuliah Wajib Minat Reproduksi dan Pemuliaan Ternak</h5>

                            <form>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="namaMataKuliah" class="form-label">Nama Mata Kuliah</label>
                                        <select class="form-select" id="namaMataKuliah" aria-label="State">
                                            <option disabled selected value>Select an option</option>
                                            <option value="epp">Ilmu Reproduksi Ternak</option>
                                            <option value="kphtot">Pemuliaan Ternak</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Nilai</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios1" value="option1" checked>
                                                <label class="form-check-label" for="gridRadios1">A</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">B+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios3" value="option2">
                                                <label class="form-check-label" for="gridRadios3">B</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios4" value="option2">
                                                <label class="form-check-label" for="gridRadios4">C+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios5" value="option2">
                                                <label class="form-check-label" for="gridRadios5">C</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios6" value="option2">
                                                <label class="form-check-label" for="gridRadios6">D+</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios7" value="option2">
                                                <label class="form-check-label" for="gridRadios7">D</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios"
                                                    id="gridRadios8" value="option2">
                                                <label class="form-check-label" for="gridRadios8">E</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <div class="divider"></div>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->

                        </div>
                    </div>
                </ng-container>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-body">

                                    <!-- Table with stripped rows -->
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Nama Mata Kuliah</th>
                                                <th>Nilai</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Unity Pugh</td>
                                                <td>9958</td>
                                            </tr>
                                            <tr>
                                                <td>Theodore Duran</td>
                                                <td>8971</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Table with stripped rows -->

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

</main><!-- End #main -->