<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item" *ngIf="UserRole == 'admin'">
        <a class="nav-link collapsed" routerLink="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item" *ngIf="UserRole == 'mahasiswa'">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Peminatan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/pengajuan-peminatan">
              <i class="bi bi-circle"></i><span>Pendaftaran Peminatan</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item" *ngIf="UserRole == 'mahasiswa'">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>PKL</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/pengajuan-pkl">
              <i class="bi bi-circle"></i><span>Pendaftaran PKL</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Pendaftaran Ujian PKL</span>
            </a>
          </li>
        </ul>
      </li><!-- End PKL Nav -->

      <li class="nav-item" *ngIf="UserRole == 'mahasiswa'">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Penelitian</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/list-penelitian">
              <i class="bi bi-circle"></i><span>List Judul Skripsi</span>
            </a>
          </li>
          <li>
            <a routerLink="/pengajuan-judul-penelitian">
              <i class="bi bi-circle"></i><span>Pengajuan Judul Penelitian</span>
            </a>
          </li>
        </ul>
      </li><!-- End Pengajuan Judul Penelitian Nav -->

      <li class="nav-item" *ngIf="UserRole == 'mahasiswa'">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Seminar</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/pengajuan-seminar-proposal">
              <i class="bi bi-circle"></i><span>Pengajuan Seminar Proposal</span>
            </a>
          </li>
          <!-- <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Pendaftaran Seminar Hasil</span>
            </a>
          </li> -->
        </ul>
      </li><!-- End Charts Nav -->

      <!-- <li class="nav-item" *ngIf="UserRole == 'mahasiswa'">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Ujian Sarjana</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Pendaftaran Ujian Sarjana</span>
            </a>
          </li>
        </ul>
      </li>End Icons Nav -->

      <li class="nav-item" *ngIf="UserRole == 'mahasiswa'">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Peminjaman Ruang</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item" *ngIf="UserRole != 'mahasiswa'">
        <a class="nav-link collapsed" routerLink="/approval">
          <i class="bi bi-person"></i>
          <span>Approval</span>
        </a>
      </li><!-- End Approval Page Nav -->

      <li class="nav-item" *ngIf="UserRole == 'admin' || UserRole == 'kepala departemen'">
        <a class="nav-link collapsed" data-bs-target="#master-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="master-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="/master-mahasiswa">
              <i class="bi bi-circle"></i><span>Mahasiswa</span>
            </a>
          </li>
          <li>
            <a routerLink="/master-dosen">
              <i class="bi bi-circle"></i><span>Dosen</span>
            </a>
          </li>
          <li>
            <a routerLink="/master-peminatan">
              <i class="bi bi-circle"></i><span>Peminatan</span>
            </a>
          </li>
          <li>
            <a routerLink="/master-mata-kuliah">
              <i class="bi bi-circle"></i><span>Mata Kuliah</span>
            </a>
          </li>
          <li>
            <a routerLink="/master-lokasi-skripsi">
              <i class="bi bi-circle"></i><span>Lokasi Skripsi</span>
            </a>
          </li>
          <li>
            <a routerLink="/master-ruangan">
              <i class="bi bi-circle"></i><span>Ruangan</span>
            </a>
          </li>
        </ul>
      </li><!-- End Master Nav -->
    </ul>

  </aside><!-- End Sidebar-->