<div class="pagetitle">
    <h1>Approval</h1>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isVisible">
                <i class="bi bi-check-circle me-1"></i>
                Pengajuan Disetujui
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">

                    <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pengajuanPkl-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-pengajuanPkl" type="button" role="tab"
                                aria-controls="pengajuanPkl" aria-selected="false"
                                *ngIf="UserRole == 'dosen'">Pengajuan
                                PKL</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pengajuanPeminatan-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-pengajuanPeminatan" type="button" role="tab"
                                aria-controls="pengajuanPeminatan" aria-selected="false"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">Pengajuan
                                Peminatan</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="approvedPengajuanPeminatan-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-approvedPengajuanPeminatan" type="button" role="tab"
                                aria-controls="approvedPengajuanPeminatan" aria-selected="false"
                                *ngIf="UserRole == 'kepala minat' || UserRole == 'admin'">Rekapitulasi
                                Peminatan</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pengajuanJudulPenelitian-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-pengajuanJudulPenelitian" type="button" role="tab"
                                aria-controls="pengajuanJudulPenelitian" aria-selected="false"
                                *ngIf="UserRole == 'admin'">Pengajuan Judul Penelitian</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2" id="borderedTabContent">
                        <div class="tab-pane fade" id="bordered-pengajuanPkl" role="tabpanel"
                            aria-labelledby="pengajuanPkl-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'dosen'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Ketua</th>
                                        <th>Anggota 1</th>
                                        <th>Anggota 2</th>
                                        <th>Anggota 3</th>
                                        <th>Anggota 4</th>
                                        <th>Anggota 5</th>
                                        <th>Lokasi</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPkl; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.namaKetua}}</td>
                                        <td>{{item.namaAnggota1}}</td>
                                        <td>{{item.namaAnggota2}}</td>
                                        <td>{{item.namaAnggota3}}</td>
                                        <td>{{item.namaAnggota4}}</td>
                                        <td>{{item.namaAnggota5}}</td>
                                        <td>{{item.namaLokasi}}</td>
                                        <td>{{item.statusPengajuanPkl === 0 ? 'Menunggu persetujuan' : 'Disetujui'}}
                                        </td>
                                        <td><button (click)="approvePengajuanPkl(item.id)"
                                                [disabled]="item.statusPengajuanPkl === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="bordered-pengajuanPeminatan" role="tabpanel"
                            aria-labelledby="pengajuanPeminatan-tab">
                            <form [formGroup]="formGenerateRekapitulasiPeminatan"
                                (ngSubmit)="submitFormGenerateRekapitulasiPeminatan()"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="idPeminatan" class="form-label">Peminatan</label>
                                        <select class="form-select" aria-label="State" name="idPeminatan"
                                            id="idPeminatan" [formControlName]="'idPeminatan'" required>
                                            <option disabled selected value>Select an option</option>
                                            <option *ngFor="let item of peminatan$ | async" [value]="item.id">{{
                                                item.nama
                                                }}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid state.
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-outline-primary m-1">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala departemen' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Status Pengajuan</th>
                                        <th>Surat Rekomendasi</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanPeminatan; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>
                                            <button (click)="approvePengajuanPeminatan(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="bordered-approvedPengajuanPeminatan" role="tabpanel"
                            aria-labelledby="approvedPengajuanPeminatan-tab">
                            <table class="table table-sm table-bordered"
                                *ngIf="UserRole == 'kepala minat' || UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Peminatan</th>
                                        <th>Urutan Minat</th>
                                        <th>IPK Minat</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Status Pengajuan</th>
                                        <th>Surat Rekomendasi</th>
                                        <th>Dosen Pembimbing</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listApprovedPengajuanPeminatan; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.namaPeminatan }}</td>
                                        <td>{{ item.urutanMinat }}</td>
                                        <td>{{ item.ipkMinat }}</td>
                                        <td>{{ item.namaMahasiswa }}</td>
                                        <td>{{ item.statusPengajuan === 0 ? 'Menunggu persetujuan' : 'Disetujui' }}</td>
                                        <td>{{ item.haveRecommendation === 0 ? 'Tidak' : 'Ada' }}</td>
                                        <td>{{ item.namaDosen }}</td>
                                        <td>
                                            <button (click)="update(item.id)" type="button" class="btn btn-primary"><i
                                                    class="bi bi-pencil-square" data-bs-toggle="modal"
                                                    data-bs-target="#basicModal"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="bordered-pengajuanJudulPenelitian" role="tabpanel"
                            aria-labelledby="pengajuanJudulPenelitian-tab">
                            <table class="table table-sm table-bordered" *ngIf="UserRole == 'admin'">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Judul Penelitian</th>
                                        <th>Lokasi Penelitian</th>
                                        <th>Dosen Pembimbing</th>
                                        <th>Nilai D dan D+ (%)</th>
                                        <th>Nilai E (%)</th>
                                        <th>Status Pengajuan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPengajuanSkripsi; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.judulSkripsi }}</td>
                                        <td>{{ item.namaLokasi }}</td>
                                        <td>{{ item.namaDosen }}</td>
                                        <td>{{ item.persentaseNilaiD }} </td>
                                        <td>{{ item.persentaseNilaiE }}</td>
                                        <td>{{item.statusPengajuan === 0 || item.statusPengajuan === null ? 'Menunggu persetujuan' : 'Disetujui'}}</td>
                                        <td><button (click)="approvePengajuanJudulPenelitian(item.id)"
                                                [disabled]="item.statusPengajuan === 1" type="button"
                                                class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formAssignDosenPembimbing" (ngSubmit)="submitAssignDosenPembimbing()">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Dosen Pembimbing</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-2 col-form-label" hidden>Id</label>
                        <div class="col-sm-10">
                            <input formControlName="id" id="id" type="text" class="form-control" hidden>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="idDosen" class="col-sm-2 col-form-label">Dosen Pembimbing</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="State" name="idDosen" id="idDosen"
                                [formControlName]="'idDosen'" required>
                                <option disabled selected value>Select an option</option>
                                <option *ngFor="let item of namaDosen$ | async" [value]="item.idDosen">{{
                                    item.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>