<div class="pagetitle">
    <h1>Skripsi</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Skripsi</li>
            <li class="breadcrumb-item">Pengajuan Judul Penelitian</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <!-- alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isVisible">
                <i class="bi bi-check-circle me-1"></i>
                {{ alertMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="nama" class="form-label">Nama</label>
                            <input value="{{ decodedToken.name }}" type="text" class="form-control" id="nama" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="nim" class="form-label">NIM</label>
                            <input value="{{ decodedToken.nim }}" type="text" class="form-control" id="nim" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formSkripsi" (ngSubmit)="submitFormSkripsi()">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="idPeminatan" class="form-label">Nama Peminatan</label>
                                <select class="form-select" aria-label="State" name="idPeminatan"
                                    id="idPeminatan" [formControlName]="'idPeminatan'" required>
                                    <option disabled selected value>Select an option</option>
                                    <option *ngFor="let item of peminatan$ | async" [value]="item.id">{{
                                        item.nama }}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="judulSkripsi" class="col-sm-2 col-form-label">Judul Penelitian</label>
                                    <input formControlName="judulSkripsi" id="judulSkripsi" type="text"
                                        class="form-control">
                            </div>

                            <div class="col-md-12">
                                <label for="idLokasi" class="col-sm-2 col-form-label">Lokasi Penelitian</label>
                                    <select class="form-select" aria-label="State" name="idLokasi" id="idLokasi"
                                        [formControlName]="'idLokasi'" required>
                                        <option disabled selected value>Select an option</option>
                                        <option *ngFor="let item of lokasiSkripsi$ | async" [value]="item.id">{{
                                            item.namaLokasi }}
                                        </option>
                                    </select>
                            </div>

                            <div class="col-md-12">
                                <label for="idDosen" class="col-sm-2 col-form-label">Dosen Pembimbing</label>
                                    <select class="form-select" aria-label="State" name="idDosen" id="idDosen"
                                        [formControlName]="'idDosen'" required>
                                        <option disabled selected value>Select an option</option>
                                        <option *ngFor="let item of namaDosen$" [value]="item.idDosen">{{
                                            item.namaDosen }}
                                        </option>
                                    </select>
                            </div>
                            
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary m-1">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>